html {
    
    overflow-x: hidden !important;
    overflow-y: hidden !important;
	height: 100%;
	/* max-height: 600px; */
	width: 1000px;
	background-color: hsla(200,40%,30%,.4);
	background-image:
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'),
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position:
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size:
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position:
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}
body{
    background-color: transparent;
}
.container{
    background: rgba(2, 8, 6, 0.7);
    
    margin-top: 150px;
    margin-left: 145px;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    
}
h1{ 
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.15rem;
    font-weight: 500;
    font-size: 650%;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center !important;
}

a.button1{
    display: inline-block;
    padding: 0.35em 1.2em;
    font-size: 1.8rem;
    border: 0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}
a.button1:hover{
    color: #ffffff;
    background-color: #000000;
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

@media screen and (max-width: 800px) {
    html, body {
        position: fixed;
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 760px){
    html, body {
        position: fixed;
        width: 100%;
        height: 100%;
      }
}

@media(max-width: 1200px){
    html, body {
        position: fixed;
        width: 100%;
        height: 100%;
      }
}

@media(max-width: 760px){
    .container{
        text-align: center;
        margin-left: 0px;
        margin-top: 0px;
        background: rgba(4, 53, 38, 0.7);
        width: 100%;
        overflow: hidden !important;
    }   
}

@media all and (max-width:30em){
  a.button1{
        display: block;
        padding-left: 10px;
        margin: 0.3em auto;
        width:100px;
        text-align: center;
	    overflow-x: hidden !important;
	    overflow-y: hidden !important;
    }
}
@media(max-width: 760px){
  h1{
        margin-top: 10px;
        font-size: 35px;
        letter-spacing: normal;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
      
    }
}
@media (min-width:500px) {
    .container {
        margin:0;
        position: fixed;
        max-width: inherit;
        height: 40%;
        width: 100%;
    }
    p{
        font-size: 36px;
        color: white;
    }